/PointDemo/nbproject/private/
/PointDemo/build/
/RationalNumberDemo/nbproject/private/
/RationalNumberDemo/build/
/RationalNumberDemo/dist/
/VectorDemo/nbproject/private/
/VectorDemo/build/
/BankAccountUI/nbproject/private/
/BankAccountUI/build/
/BankAccountUI/dist/